body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(136, 136, 157);
}

header{
    background-color: black;
    color: rgb(215, 217, 220);
    padding: 0px 10px 10px 10px;
    font-family: monospace;
    font-size: 2em;
    padding: 0px;
}

#icon{
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 15px 15px 0px 0px;
}

h1{
    text-align: center;
    text-shadow: 5px 4px 4px black;
    margin-top: 0px;
    padding: 0px;
}

h1 img {
  width: 20%;
  height: 20%;
}

#products{
    background-color: rgb(158, 158, 158);
    padding: 0px 100px 370px 200px;
    margin: 45px;
    border-radius: 10px;
    width: 75%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
}

#product img{
    width: 300px;
    height: 250px;
}

#product {
    font-family: monospace;
    font-size: 1.6em;
    background-color: white;
    width: 300px;
    height: 450px;
    padding: 35px;
    border-radius: 15px;
    margin-top: 80px;
}

#link{
    margin-left: 180px;
    font-family: monospace;
    font-size: 0.9em;
    text-decoration: none;
}

#link a{
    text-decoration: none;
}

@media (max-width: 768px) {
  
    h1 img{
      width: 40%;
      height: 40%;
    }

    #products {
        padding: 20px;
        width: 70%;
        grid-template-rows: repeat(1, 1fr);
        height: 100%;
        justify-content: center;
    }

    #product {
        width: 70%;
        padding: 20px;
        grid-column: 1 / 1;
        height: 420px;
        margin-top: 30px;
        align-items: center;
        margin-left: 10%;
        margin-bottom: 80px;
    }

    #product img{
        width: 80%;
        height: 90%;
        padding: 15px 0px 0px 20px;
    }

    #link{
        margin-left: 90px;
    }

}
